  #  Loripsum.net - The 'lorem ipsum' generator that doesn't suck.  -  https://loripsum.net/  -  This Lorem Ipsum generator fits all your Lipsum needs! Come on over, make some Lipsum and copy-paste like a pro!  -  
  #  Best practices for using font-weights with web fonts  -  https://www.webtype.com/info/articles/fonts-weights/  -  Best practices for using font-weights with web fonts  -  
  #  Yr - my locations  -  https://www.yr.no/en  -  Today's hourly and 9-day weather forecast from NRK and The Norwegian Meteorological Institute. Search among 10 million places in Norway and the world.  -  
  #  PHP: The Right Way  -  https://phptherightway.com/  -  An easy-to-read, quick reference for PHP best practices, accepted coding standards, and links to authoritative PHP tutorials around the Web  -  
  #  Mozilla Observatory  -  https://observatory.mozilla.org/  -  The Mozilla Observatory is a project designed to help developers, system administrators, and security professionals configure their sites safely and securely.  -  
  #  Best practices for using font-weights with web fonts  -  https://www.webtype.com/info/articles/fonts-weights/  -  Best practices for using font-weights with web fonts  -  
  #  50 Watts  -  http://50watts.com/  -  Illustration and book art with a literary bent. Focus on international illustrated books and Surrealism.  -  
